.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  width: 100vh;
  height: 100vh;
}

.timer {
  color: dimgrey;
  font-size: 120px;
}
.buttons  {
  display: flex;
  gap: 10px;
}
.buttons button {
  width: 120px;
  height: 60px;
  padding: 5px;

  cursor: pointer;
  transition: all 0.2s;
  font-size: 24px;
  border-radius: 5px;
  border: 0;
}

.start {
  background-color: rgb(40, 165, 40);
}

.stop {
  background-color: rgb(212, 61, 61);
}

.reset {
  background-color: darkorange;
}

.continue {
  background-color: blueviolet;
}